{% extends 'base.html' %}

{% block title %}
    Search Results - {{ query }}
{% endblock title %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    {% for todo in results %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ todo.Title }}</td>
            <td>{{ todo.desc }}</td>
            <td>{{ todo.date_time }}</td>
            <td><a href="/">View</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">No results found for "{{ query }}"</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock body %}
